*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.navigationBar{
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    height:  100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.4); /* Blurred shadow */
}

.pizzaHutLogo{
    /* border: 2px solid black; */
    width: 11.5%;
    height: 100%;
    margin: 0.8rem 8.7rem;
}

nav p{
    margin: 0.9rem 7rem ;
    font-weight: 400;
    font-size: 0.9rem;
    color: grey;
    text-decoration: underline dotted ;
    text-underline-position: under;
}

.formContainer{
    /* border: 2px solid red; */
    height:  100%;
}

footer{
    /* border: 2px solid blue; */
    height:  100%;
}